@import 'libs/animate';
@import 'libs/bootstrap-reboot.min';
@import 'libs/slick';

*	{
font-family: "MuseoModerno", sans-serif;
font-display: swap;
}
@import 'base/variables';
@import 'base/animations';

.container {
		max-width: 950px;
		margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/benefits';
@import 'blocks/consultation';
@import 'blocks/title';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/review';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';
