.consultation {
    min-height: 680px;
    padding: 100px 0 92px;
    background:url(../../img/bg2.png) center (center/cover) no-repeat;
    &__descr {
        color:#FFFFFF;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        border: none;
        color: #fff;
        line-height: 30px;
    }
}
@media (max-width:1024px) {
    .consultation__descr {
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        padding-left: 30px;
    }
}
@media (max-width:575px) {
    .consultation__descr {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        padding: 0;
        margin-top: 30px;

    }
}